
.container {
  max-width: 900px;
  margin: 2rem auto;
  padding: 1rem;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  margin: 0;
}

input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 0.5rem;
}

label {
    margin-right: 0.5rem;
}

select {
  margin-right: 1rem;
  padding: 0.3rem;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.p-datatable th,
.p-datatable td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
